[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
flask = "*"
gunicorn = "*"
"sklearn.linear_model" = "*"
"sklearn.cross_validation" = "*"
"sklearn.preprocessing" = "*"
pickle = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
